extends templates/page.pug

block prepend header

  - const page = "Menu";

block outside-container-content
  .menu-container
    .coffees.orange
      .m-text
        p COFFEES
      .m-line
        hr
    .cof.m-content
      img(src="/images/catpurrcino.jpeg")
      .items-and-prices
        table 
          each option in coffees 
            - let [item, price] = option;
            tr
              td.i 
                p #{item}
              td 
                p #{price}     
    .teas.purple
      .m-line
        hr.c-line
      .m-text
        p TEAS
    .tea.m-content
      img(src="/images/cheesecake and coffee.jpeg")
      .items-and-prices
        table 
          each option in teas 
            - let [item, price] = option;
            tr
              td.i 
                p #{item}
              td 
                p #{price}     
    .coffees.pink
      .m-text.-S
        p SWEETS
      .m-line.-S
        hr
    .cof.m-content
      img(src="/images/sweets.png")
      .items-and-prices
        table 
          each option in sweets 
            - let [item, price] = option;
            tr
              td.i 
                p #{item}
              td 
                p #{price}    
    .teas.orange
      .m-line
        hr
      .m-text
        p COLD CUTS
    .tea.m-content
      img(src="/images/cold-sandwiches.png")
      .items-and-prices
        table 
          each option in coldcuts 
            - let [item, price] = option;
            tr
              td.i 
                p #{item}
              td 
                p #{price}    
    .coffees.purple
      .m-text
        p HOT CUTS
      .m-line
        hr
    .cof.m-content
      img(src="/images/hot cuts.png")
      .items-and-prices
        table 
          each option in hotcuts 
            - let [item, price] = option;
            tr
              td.i 
                p #{item}
              td 
                p #{price}    
    .teas.pink
      .m-line
        hr
      .m-text
        p SOUPS
    .tea.m-content
      img(src="/images/soups.png")
      .items-and-prices
        table 
          each option in soups 
            - let [item, price] = option;
            tr
              td.i 
                p #{item}
              td 
                p #{price}    
